.showcase {
  height: auto;
}

.showcase-img-contact {
  z-index: 10;
  height: 20rem;
  margin-right: 7rem;
  width: 30rem;
}

.contact {
  display: flex;
  padding: 2rem 5rem 5rem 5rem;
  align-items: center;

  form {
    width: 45vw;
    margin-right: 5rem;

    h3 {
      font-size: 3rem;
      padding-left: 1rem;
      margin-bottom: 3rem;
      border-left: 10px solid rgb(177, 137, 239);
    }

    input,
    textarea {
      display: block;
      padding: 1.5rem;
      width: 100%;
      background-color: rgb(235, 234, 233);
      margin-bottom: 0.5rem;
      border: none;
      outline: none;

      &::placeholder {
        font-size: 1.3rem;
        color: black;
      }
    }

    input {
      height: 5rem;
    }

    textarea {
      height: 12rem;
      margin-bottom: 2rem;
    }
  }

  .img-contact {
    width: 30rem;
    height: 40rem;
    /* border: 1px solid; */
    margin-top: -5rem;
  }

  button {
    padding: 1.5rem 4rem;
    background-color: rgb(177, 137, 239);
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .showcase {
    display: none;
  }
  .contact {
    padding: 2rem 0.5rem 2rem 0.5rem;
    flex-direction: column;

    img {
      display: none;
    }

    form {
      width: 100%;
      margin-right: 0;

      h3 {
        font-size: 1.5rem;
        padding-left: 1rem;
        margin-bottom: 3rem;
        border-left: 10px solid rgb(177, 137, 239);
      }

      input {
        height: 3rem;
        padding: 0.7rem;

        &::placeholder {
          font-size: 1rem;
          color: black;
        }
      }

      textarea {
        height: 10rem;
        padding: 0.7rem;
        margin-bottom: 1rem;

        &::placeholder {
          font-size: 1rem;
          color: black;
        }
      }
    }
    button {
      padding: 1rem 1.5rem;
      background-color: rgb(177, 137, 239);
      font-size: 0.8rem;
      width: 100%;
    }
  }
}
