/* CombinedForm.css */

/* General container styles */
.containerForm {
  display: flex;
  /* height: 90vh; */
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  flex-direction: column;
}

/* Basic form styles */
.basic-form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding-inline: 2rem;

  h2 {
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 2rem;

    span {
      font-weight: bold;
    }
  }

  p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .radio {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    width: 100%;

    .ray {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .phone,
  .email {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */

    input {
      width: 100%;
    }
  }

  .city {
    display: flex;
    gap: 2rem;
  }

  .high {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  input {
    height: 2.5rem;
    background-color: #f0f0f0;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    padding-inline: 1rem;
    border: none;
    width: 100%;
  }

  .terms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    font-size: 0.7rem;
    padding: 0;

    #terms {
      display: inline-block;
      width: 1rem;
    }
  }

  button {
    background-color: #333;
    width: 100%;
  }

  #dob {
    margin-bottom: 0;
  }

  .dob {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
}

/* Combined form styles */
.container2 {
  display: flex;
  /* height: 90vh; */
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
  flex-direction: column;
}

.combined-form {
  display: flex;
  flex-direction: column;
  width: 25vw;

  h2 {
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 2rem;

    span {
      font-weight: bold;
    }
  }

  .name {
    display: flex;
    justify-content: space-between;

    input {
      width: 47%;
    }
  }

  input {
    height: 2.5rem;
    background-color: #f0f0f0;
    border-radius: 3px;
    margin-bottom: 0.5rem;
    padding-inline: 1rem;
    border: none;
  }

  .file {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem 1rem;

    img {
      width: 6rem;
      height: 6rem;
    }

    button {
      width: 100%;
      background-color: rgb(167, 98, 231);
    }
  }

  button {
    background-color: #333;
    width: 100%;
  }

  #dob {
    margin-bottom: 0;
  }

  .dob {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  .cat {
    display: flex;
    align-items: center;
    gap: 2rem;

    .cat-div {
      width: 100%;

      label {
        font-size: 0.8rem;
        padding-left: 0.5rem;
      }

      select {
        height: 2.5rem;
        padding-inline: 1rem;
        background-color: #f0f0f0;
        border: none;
        border-radius: 3px;
        margin-bottom: 1rem;
        width: 100%;
      }
    }
  }

  #desc {
    border: none;
    background-color: #f0f0f0;
    padding: 0.5rem;
  }

  .counter {
    font-size: 0.7rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* Skip link style */
#skip {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .containerForm {
    padding-block: 1.5rem;
  }

  .basic-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 0.5rem;

    .radio {
      padding-inline: 2rem;
      width: auto;

      .ray {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .terms {
      #terms {
        display: inline-block;
        width: 0.7rem;
      }
    }
  }

  .combined-form {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
