.modal-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.361);

  .pop-up-delete {
    padding: 4rem 7rem;
    border-radius: 10px;
    width: 35rem;
    position: relative;
    background-color: #363636;
    color: #fff;
    text-align: center;

    p:first-child {
      font-size: 1rem;
      margin-bottom: 3rem;
    }
    p:last-child {
      margin-bottom: 1rem;
    }
  }
}
