.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  box-shadow: -2px -2px 6px 0px rgba(104, 97, 97, 0.75);
  color: rgb(59, 59, 59);

  a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(22, 21, 21);
  }

  a:hover {
    color: rgb(125, 125, 247);
  }
}

@media (max-width: 800px) {
  .footer {
    font-size: 0.4rem;
    justify-content: flex-start;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    a {
      font-size: 0.5rem;
      display: inline-block;
    }
  }
}
