.showcase {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  background: rgb(15, 18, 27);
  background: linear-gradient(
    90deg,
    rgba(15, 18, 27, 1) 0%,
    rgba(22, 15, 73, 1) 28%,
    rgba(155, 135, 229, 1) 66%
  );
  position: relative;

  .showcase-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
  }

  .showcase-img {
    z-index: 10;
    height: 35rem;
    margin-right: 5rem;
    width: 40rem;
  }

  .text {
    z-index: 10;
    color: #f4eff4;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 10rem 3rem 3rem 3rem;

    h3 {
      margin-bottom: 5rem;
    }

    .button {
      display: flex;
      gap: 3rem;
    }
  }
}

@media (max-width: 800px) {
  .showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background: transparent;
    background: linear-gradient(
      90deg,
      rgba(15, 18, 27, 1) 0%,
      rgba(22, 15, 73, 1) 28%,
      rgba(155, 135, 229, 1) 66%
    );

    .showcase-img {
      display: none;
    }

    .text {
      z-index: 10;
      color: #debdde;
      width: 0;
      font-size: 0.8rem;
      padding: 1rem;

      h3 {
        margin-bottom: 0.8rem;
      }

      .button {
        display: flex;
        gap: 1rem;
      }
    }
  }
}
